<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-app="shadowLoggerExample">
    <div class="container body-content" ng-controller="exampleController as vm">
      <label>
            <input type="radio"   id="chkLog" name="logType"  value="log" ng-model="vm.radioGroup"/> Log
        </label>
         <div class="radio">
        <label>
            <input type="radio"  id="chkLog" name="logType"  value="warn" ng-model="vm.radioGroup"/> Warn
        </label>
          <label>
            <input type="radio"  id="chkLog" name="logType"  value="info" ng-model="vm.radioGroup"/> info
        </label>
         <label>
            <input type="radio" " id="chkLog" name="logType"  value="debug" ng-model="vm.radioGroup"/> Debug
        </label>
      </div>
      
     <button ng-click="vm.log()" >log</button>
    </div>

 
    </div>
     <!-- inject:js -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../src/shadowLogger.module.js"></script>
  <script src="example.module.js"></script>
  <script src="../src/shadowlogger.provider.js"></script>
  <script src="example.controller.js"></script>
  <!-- endinject -->

</body>

</html>
